.todoheader{
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-top: 0%;
}

.to-do-list .inputfield {
  width: 30%;
  padding: 10px;
  border: 1px solid #7e7b7b94;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  margin: 5px;
}
.to-do-list .inputfield:focus {
  outline: none;
  border-color: #8796a78e;
}
.to-do-list .add-button {
  padding: 10px 20px;
  background-color: #3d9b9b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.to-do-list .add-button:hover {
  background-color: #45a049;
}

.to-do-list .task-item {
  display: flex;
  columns: 4;
  font-family: Arial, sans-serif;
  font-weight: 1300;
  font-size: 25px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.to-do-list .task-item:last-child {
  border-bottom: none;
}
.to-do-list .task-item .task-text {
  flex-grow: 1;
  margin-right: 10px;
}
.to-do-list .task-item .delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.to-do-list .task-item .task-button {
  background-color: #4d94ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
} 
.text{
  flex: 0;
}
